/* =Main
-------------------------------------------------------------*/
#main {
	height: 100%;
}
#main .content {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	min-height: 100%;
	padding: 30px 0 30px 0;
	display: table;
}
#main #home,
#main #event,
#main #gallery {
	background: #fff;
}
#main #news {
	background: #7c9ae2;
}
#main #intro,
#main #contact {
	background: #fdd100;
}
#main h2 {
	text-align: center;
	text-transform: uppercase;
	margin: 0 0 35px 0;
	font-weight: 600;
}
#main .cell {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: table-cell;
	min-height: 100%;
	vertical-align: middle;
}

/* =Main Home */
#main #home * {
	text-align: center;
}
#main #home .cell {
	padding: 30px 0 0 0
}
#main #home a {
	position: relative;
	display: inline-block;
}
#main #home img {
	display: block;
	width: 100% !important;
}
#main #home .banner {
	padding: 25px 0 0 0;
	margin: 15px 0 0 0;
}
#main #home .banner a:before {
	border-top: 1px solid #f0f0f0;
	position: absolute;
	top: -25px;
	left: -30%;
	content: '';
	width: 160%;
}


/* =Main Introduction */
#main #intro .sep,
#main #news .sep,
#main #gallery .sep,
#main #contact .sep {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#main #intro .sep,
#main #contact .sep {
	display: table-cell;
	vertical-align: middle;	
}
#main #intro .sep {
	width: 40%;
	text-align: center;
}
#main #intro .sep:last-child {
	width: 60%;
	padding: 0 0 0 30px;
	text-align: left;
}
#main #intro .sep img {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	display: block;
	width: 60% !important;
	margin: 0 auto 20px auto;
}
#main #intro .sep:first-child p {
	margin: 0 0 3px 0;
	font-size: 20px;
	line-height: 27px;
	font-weight: 600;
}
#main #intro .sep:first-child p:last-child {
	margin: 0 0 0 0;
	font-size: 15px;
	line-height: 19px;
	font-weight: 300;
}

/* =Main Event */
#main #event {
	text-align: center;
}
#main #event .sep {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
	display: inline-block;
	background: #ddd;
	padding: 30px 0;
}
#main #event .sep a,
#main #event .sep a:before {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;		
}
#main #event .sep a {
	position: relative;
	display: block;
	background: #ccc;
	padding: 5px;
	margin: 0 0 25px 0;
	text-align: center;
}
#main #event .sep a:hover,
#main #event .sep a:hover:before {
	background: #fcd106;
}
#main #event .sep a:nth-child(even):hover,
#main #event .sep a:nth-child(even):hover:before {
	background: #566892;
}
#main #event .sep a:before {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	background: #ccc;
	padding: 7px;
	border: 3px solid #fff;
	margin-top: -50%;
	margin-left: -50%;
}
#main #event .sep a:hover:before {
	padding: 6px;
	border: 4px solid #f5ae44;
}
#main #event .sep a:nth-child(even):hover:before {
	padding: 6px;
	border: 4px solid #485d82;
}
#main #event .sep a:last-child {
	margin: 0 0 0 0;
}
#main #event .sep a span {
	display: block;
	position: absolute;
	top: 50%;
}
#main #event .sep a span span {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
	position: relative;
	border: 2px solid #eee;
	background: #f9f9f9;
	width: 400px;
	padding: 10px 15px;
	font-size: 16px;
	line-height: 22px;
	font-weight: 300;
}
#main #event .sep a span span:hover {
	padding: 10px 15px;
	z-index: 100;
}
#main #event .sep a:nth-child(odd):hover span span {
	border: 2px solid #f5ae44;
	background: #fcd106;
}
#main #event .sep a:nth-child(even):hover span span,
#main #event .sep a:nth-child(even):hover span span * {
	color: #fff;
}
#main #event .sep a:nth-child(even):hover span span {
	border: 2px solid #485d82;
	background: #566892;	
}
#main #event .sep a span strong {
	display: none;
	margin-top: 5px;
	font-size: 15px;
	line-height: 18px;
	font-weight: 600;
}
#main #event .sep a:hover span strong {
	display: block;
}
#main #event .sep a:nth-child(odd) span,
#main #event .sep a:nth-child(odd) span * {
	text-align: right;
}
#main #event .sep a:nth-child(odd) span {
	right: 25px;
}
#main #event .sep a:nth-child(odd) span span {
	right: 0;
}
#main #event .sep a:nth-child(even) span,
#main #event .sep a:nth-child(even) span * {
	text-align: left;
}
#main #event .sep a:nth-child(even) span {
	left: 25px;
}
#main #event .sep a:nth-child(even) span span {
	left: 0;
}

/* =Main News */
#main #news .sep,
#main #gallery .sep {
	float: left;	
	width: 33.333333%;
	padding: 0 8px 0 8px;
}
#main #news .sep a,
#main #gallery .sep a {
	display: block;
	width: 100%;
}
#main #news .sep a.photo,
#main #gallery .sep a.photo {
	margin: 0 0 20px 0;
}
#main #news .sep a.title,
#main #gallery .sep a.title {
	overflow: hidden;
	word-wrap: break-word;
	text-overflow: ellipsis;
	height: 50px;
	margin: 0 0 10px 0;
	font-size: 20px;
	line-height: 25px;
	font-weight: 500;
	color: #111;
}
#main #news .sep a img,
#main #gallery .sep a img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
	width: 100% !important;	
}
#main #news .sep p:last-child {
	margin: 0 0 0 0;
}

/* =Main Gallery */
#main #gallery .sep {
	margin: 0 0 20px 0;
}
#main #gallery .sep a.photo {
	margin: 0 0 10px 0;
}
#main #gallery .sep a.title {
	height: 40px;
	margin: 0 0 0 0;
	font-size: 15px;
	line-height: 20px;
	//white-space: nowrap;
}

/* =Main Contact */
#main #contact .sep {
	width: 50%;
	padding: 0 40px 0 50px;
}
#main #contact .sep:last-child {
	padding: 0 50px 0 40px;
}
#main #contact .sep .box {
	margin: 0 0 15px 0;
}
#main #contact .sep .box:last-child {
	margin: 0 0 0 0;
}
#main #contact .sep .box strong {
	display: block;
	font-weight: 600;
	margin: 0 0 5px 0;
}
#main #contact .sep .social-media a {
	display: inline-block;
	margin: 0 15px 10px 0;
}
#main #contact .sep .social-media a:last-child {
	margin: 0 0 10px 0;
}
#main #contact .sep .social-media a {
	overflow: hidden;
	width: 30px;
	height: 30px;
}
#main #contact .sep .social-media a img {
	display: block;
}
#main #contact form {
	
}
#main #contact fieldset div.clearfix {
	padding: 0 0 15px 0;
}
#main #contact fieldset div.clearfix:last-child {
	padding: 0 0 0 0;
}
#main #contact fieldset div input[type="text"],
#main #contact fieldset div textarea {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;	
	width: 100%;
	border: 1px solid #fff;
	padding: 10px 20px;
}
#main #contact fieldset div div.errorMessage {
	padding: 5px 5px 0 5px;
	color: #ff0000;
	font-size: 13px;
	line-height: 17px;
}
#main #contact fieldset div.user-info {
	display: table;
	width: 100%;
}
#main #contact fieldset div.user-info div,
#main #contact fieldset div.user-info div * {
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
}
#main #contact fieldset div.user-info div {
	display: table-cell;
	vertical-align: middle;
	padding: 0 0 0 20px;
}
#main #contact fieldset div.user-info div:first-child {
	text-align: right;
	padding: 0 0 0 0;
	width: 60px;
}
#main #contact fieldset div.user-info img {
	display: inline-block;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
#main #contact fieldset div.user-info div h3 {
	margin: 0 0 3px 0;
	font-weight: 600;
}

/* =Pages
-------------------------------------------------------------*/
#page img {
	margin: 0 0 20px 0;
	display: block;
}
#page img.mediummag{
	width: 35%;
	float: left;
	margin: 0 30px 10px 0;
}
#page img.largemag {
	width: 100% !important;
}


/* =Module (Album and Article)
-------------------------------------------------------------*/
/* Index */
#module .box {
	margin: 0 0 35px 0;
}
#module .box:first-child:last-child,
#module .box:last-child {
	margin: 0 0 0 0;
}

#module .box .list-view {
	margin: 0 0 0 0;
}
#module .box .sep.full {
	margin: 0 0 20px 0;
}
#module .box .list-view .sep {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;	
	float: left;
	width: 50%;
	padding: 0 15px 0 0;
}
#module .box .list-view .sep:nth-child(2n) {
	padding: 0 0 0 15px;
}
#module .box.list .list-view .sep {
	margin: 0 0 20px 0;
}
#module .box.list .list-view .sep.full {
	float: none;
	width: 100%;
	padding: 0 0 0 0;
}

#module .box .sep a,
#module .box .sep a img,
#module .box .sep iframe.youtube {
	display: block;
}
#module .box .sep a {
	font-size: 16px;
	line-height: 21px;
	font-weight: 600;
}
#module .box .sep a.images,
#module .box .sep iframe.youtube {
	margin: 0 0 15px 0;
}
#module .box .sep a.title {
	word-wrap: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 42px;
}
#module .box .sep.full a.title {
	height: auto;
}
#module .box .sep iframe.youtube,
#module .box .sep a img {
	width: 100% !important;
}
#module .box .sep .meta {
	margin: 10px 0 10px 0;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #f5f5f5;
}
#module .box .sep p:last-child {
	margin: 0 0 0 0;
}

/* Module */
#module .content .meta {
	margin: 0 0 20px 0;
}
#module .content .meta i {
	color: #808080;
	margin-left: 15px;
	margin-right: 5px;
}
#module .content .meta i:first-child {
	margin-left: 0px;
}
#module .content img.headline {
	display: block;
	margin: 0 0 20px 0;
	width: 100% !important;
}
#module .content .download,
#module .content .download * {
	font-size: 20px;
	line-height: 28px;
}
#module .content .download {
	border-top: 2px dotted #eee;
	border-bottom: 2px dotted #eee;
	padding: 20px 40px;
	margin: 20px 0 0 0;
	text-align: center;
}
#module .content .download a {
	font-weight: 600;
	text-decoration: none;
	color: #0298ec;
}
#module .content .download a:hover {
	color: #ff810c;	
}

/* Slider */
#module .content .slider {
	position: relative;
	border: 1px solid #ddd;
	padding: 10px 10px 10px 10px;
	margin: 0 0 20px 0;
	background: #eee;
}
#module .content .slider a.prev,
#module .content .slider a.next {
	position: absolute;
	top: 50%;
	display: block;
	padding: 5px 10px;
	background: #1e5fa9;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	margin-top: -14px;
	z-index: 100;
}
#module .content .slider a.prev {
	left: -5px;
}
#module .content .slider a.next {
	right: -5px;
}
#module .content .slider a.prev:hover,
#module .content .slider a.next:hover {	
	background: #ff810c;
}
#module .content .slider-box {
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}
#module .content .slider ul {
	display: block;
	list-style: none;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
#module .content .slider ul li {
	float: left;
	margin: 5px 5px 5px 5px;
	border: 4px solid #ccc;
}
#module .content .slider ul li:hover {
	border: 4px solid #1e5fa9;	
}
#module .content .slider ul li.active,
#module .content .slider ul li.active:hover {
	border: 4px solid #ff810c;
}

/* Related */
.body .content .related {
	margin-top: 30px;
}
.body .content .related h3 {
	text-transform: uppercase;
	margin: 0 0 15px 0;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #f0f0f0;
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
}
.body .content .related .box {
	display: table-row;
}
.body .content .related .box a.photo,
.body .content .related .box div.span {
	display: table-cell;
	vertical-align: top;
	border-bottom: 1px solid #f9f9f9;
	padding: 15px 0 15px 15px;	
}
.body .content .related .box:first-child a.photo,
.body .content .related .box:first-child div.span {
	padding: 0 0 15px 15px;	
}
.body .content .related .box:last-child a.photo,
.body .content .related .box:last-child div.span {
	padding: 15px 0 0 15px;	
	border: none;
}
.body .content .related .box:first-child:last-child a.photo,
.body .content .related .box:first-child:last-child div.span {
	padding: 0 0 0 15px;
}
.body .content .related .box a.photo {
	padding-left: 0 !important;
}
.body .content .related .box a.photo img {
	display: block;
	width: 100% !important;
}
.body .content .related .box div.span a {
	display: block;
	word-wrap: break-word;
	overflow: hidden;
	height: 22px;
	text-overflow: ellipsis;
	font-size: 16px;
	line-height: 21px;
	font-weight: 600;
}
.body .content .related .box p {
	margin: 0 0 0 0;
}
.body .content .related .box .meta-date {
	margin: 10px 0 10px 0;
}
.body .content .related .box .meta-date i {
	color: #808080;
	margin-left: 10px;
	margin-right: 5px;
}
.body .content .related .box .meta-date i:first-child {
	margin-left: 0px;
}

/* =Search
-------------------------------------------------------------*/
#search .list-view .sep {
	position: relative;
	border-bottom: 1px solid #eee;
	padding: 0 0 20px 0;
	margin: 0 0 20px 0;
}
#search .list-view .sep:first-child,
#search .list-view .sep:first-child:last-child {
	padding: 0 0 20px 0;
}
#search .list-view .sep:last-child {
	margin: 0 0 0 0;
}
#search .list-view .sep.images {
	position: relative;
	min-height: 150px;
}
#search .list-view .sep.images img {
	float: left;
	position: static;
	top: 0;
	left: 0;
	margin: 0 20px 10px 0;
}
#search .list-view .sep a * {
	display: inline !important;
	margin: 0 0 0 0;
	color: #2b587a;
}
#search .list-view .sep a.title,
#search .list-view .sep a.title * {
	display: block;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 600;
}
#search .list-view .sep a.title {
	padding: 0 0 0 0;
	margin: 0 0 10px 0;
}
#search .list-view .sep div {
	word-wrap: break-word;
}
#search .list-view .sep i.fa {
	margin: 0 5px 0 0;
}
#search .list-view .sep p:last-child {
	margin: 0 0 0 0;
}
#search .list-view .notifier-summary {
	background: #f8f8f8;
	padding: 50px 30px;
	font-size: 20px;
	line-height: 30px;
	font-weight: 300;
	text-align: center;
}